body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

nav img{
    width: 5vw;
}

header{
    position: fixed;
    top: 0;
    background: white;
    z-index: 10;
    width: 100vw;
}

.navbar{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.navbar-left{
    display: flex;
    flex-direction: row;
    margin-right: 30vw;
}


ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.container{
    margin-top: 30px;
    width: 10vw;

    display: flex;
    flex-direction: row;  
    
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
}

a{
    color: black;
    text-decoration: none;
    margin: 20px;
}

.container img{
    width: 50vw;
    height: auto;
    float: left;
}

#container-green{
    background-color: #1e3932;
    flex-direction: row;
    margin-left: 0px;
    display: flex;
    padding-right: 0%;
    width: 100vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;

}

#container-blue{
    background-color: #0044b4;
    flex-direction: row;
    margin-left: 0px;
    display: flex;
    padding: 0%;
    width: 100vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;    
    flex-direction: row-reverse;
}

#container-red{
    background-color: #d50032;
    flex-direction: row;
    margin-left: 0px;
    display: flex;
    padding: 0%;
    width: 100vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;    
}

#container-greens{
    background-color: #1e3932;
    flex-direction: row;
    margin-left: 0px;
    display: flex;
    padding: 0%;
    width: 100vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;  
    flex-direction: row-reverse;  
}



#container-reds{
    background-color: #d50032;
    flex-direction: row;
    margin-left: 0px;
    justify-content: flex-start;
    padding: 0%;
    width: 100vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;    
}

.container-end {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 0%;
    margin-left: 0%; 
  }
  
  #container-below-pink {
    margin-right: 0%;
    width: 50%; 
    order: 1;
    text-align: center; 
    justify-content: center; 
    align-items: baseline; 
    background-color: #f6bfd9; 
  }
  
  #pink {
    width: 30vw;
  }

  #blue{
    width: 30vw;
  }
  
  #container-below-blue {
    width: 50%; 
    background-color: #98cde4;
    order: 2; 
  }



.footer{
    margin-top: 5%;
}


#container-below-left{
    flex-direction: row;
    
}
ul{
    flex-direction: row;
}

.container-end{
    display: inline-block;
    width: 5%;
    padding: 1%;
    margin left: 10%;
}

#footer-letters{
    flex-direction: column;
    display: flex;
    margin-bottom: 20%;
    align-items: center;
    align-content: center;
}

#Rights{
font-size: 70%;
align-items: center;
align-content: center;
justify-content: center;
text-align: center;
}

